/**
 * Fonts
 */
$font-family : 'Helvetica Neue';
$font-size : 13px;
$letter-spacing : 0.02em;

/**
 * Colors
 */
$border-color : #a3a3a3;
$text-color : #333333;
$icon-color : #606060;
$icon-inactive-color : #999999;
$icon-active-color : #252525;
$icon-drop-color : #cccccc;
$background-color : #f3f3f4;

/**
 * Reset
 */
html, body, div, span, p, form, input, textarea, select, h1, h2, h3, table, tbody, tr, td, label
{
    margin  : 0;
    padding : 0;
    border  : 0;
    outline : 0;
}

html, body
{
    font-family         : $font-family;
    /*-webkit-font-smoothing : antialiased;*/
    -webkit-user-select : none;
}
