button
{
    cursor        : default;
    border-radius : 4px;
    padding       : 4px 14px 4px 12px;
    box-shadow    : 0 1px 0 #c4c4c4;
    font-size     : $font-size;
    opacity       : 1;

    &[disabled=disabled]
    {
        opacity : 0.5;
    }

    &.primary
    {
        color                  : $button-primary-color;
        background             : $button-primary-bg-color;
        border                 : 1px solid $button-primary-border-color;
        -webkit-font-smoothing : antialiased;
        padding                : 3px 13px 3px 11px;
    }

    &.primary:active
    {
        background : $button-primary-active-bg-color;
    }

    &.secondary
    {
        color      : $text-color;
        background : $button-secondary-bg-color;
    }

    &.secondary:active
    {
        color      : $button-secondary-active-color;
        background : $button-secondary-active-bg-color;
    }

    &.left
    {
        margin : 0 0 0 10px;
        float  : left;
    }

    &.right
    {
        margin : 0 10px 0 0;
        float  : right;
    }
}

label
{
    float          : left;
    font-size      : $font-tiny-size;
    text-shadow    : $text-shadow;
    color          : $text-color;
    letter-spacing : $letter-spacing;
    margin         : 6px 0 0 10px;

    & input[type=checkbox]
    {
        float  : left;
        margin : 0px 4px 0 0;
    }
}