.panel.files
{
    z-index       : 20;
    left          : 0;
    top           : 0;
    overflow-y    : auto;
    border-top    : 1px solid $border-color;
    border-bottom : 1px solid $border-color;
    box-sizing    : border-box;
    background    : #d8dfe7;

    & input[type=file]
    {
        display : none;
    }

    & table
    {
        width    : 100%;
        position : relative;
        z-index  : 23;
        width    : 100%;
    }

    &.files .actions
    {
        width : 500px;
    }

    & .placeholder
    {
        color : #aabcca;

        &.bordered .text
        {
            text-shadow : 0 1px 0 rgba(255, 255, 255, 0.5);
            border      : 2px dashed #aabcca;
        }
    }

    &.js-drag .placeholder
    {
        cursor : copy;
    }

    &.js-drag .placeholder .text
    {
        color  : #96a6b2;
        border : 2px dashed #96a6b2;
    }

}

.files-list
{
    & tr td
    {
        cursor         : default;
        color          : $text-color;
        font-size      : $font-size;
        letter-spacing : $letter-spacing;
        padding        : 6px 8px 6px 8px;

        &:nth-child(1)
        {
            width : 50%;
        }

        &:nth-child(2)
        {
            width : 10px;
        }

        & i
        {
            color     : $icon-inactive-color;
            font-size : 11px;
        }

        & .dir
        {
            display : none;
            color   : $files-dir-color;
        }
    }

    &.js-directories-visible tr td .dir
    {
        display : inline;
    }

    & tr:nth-child(odd) td
    {
        background : $files-bg-color;
    }

    & tr:nth-child(even) td
    {
        background : $files-bg-alt-color;
    }

    & tr.js-active td
    {
        background             : $files-active-bg-color !important;
        color                  : $files-active-color !important;
        -webkit-font-smoothing : antialiased;
    }

    & tr.js-active td .dir,
    & tr.js-active td i
    {
        color : $files-active-color !important;
    }
}