.files-panel
{
    z-index    : 2;
    position   : absolute;
    left       : 0;
    top        : 0;
    overflow-y : auto;
    border-top : 1px solid $border-color;
    box-sizing : border-box;
    background : $background-color;

    &.js-drag
    {
        cursor : copy;
    }

    & .empty
    {
        position      : absolute;
        z-index       : 3;
        width         : 300px;
        height        : 130px;
        top           : 50%;
        left          : 50%;
        margin        : -65px 0 0 -150px;
        color         : $icon-drop-inactive-color;
        border        : 3px dashed $icon-drop-inactive-color;
        border-radius : 8px;
        transition    : color 300ms, border 300ms;

        & div
        {
            position               : relative;
            width                  : 100%;
            text-align             : center;
            margin                 : 10px 0 0 0;
            font-family            : $font-family;
            font-size              : 18px;
            font-weight            : bold;
            -webkit-font-smoothing : antialiased;
        }

        & i
        {
            position  : relative;
            left      : 50%;
            margin    : 25px 0 0 -20px;
            font-size : 48px;
        }
    }

    &.js-drag .empty
    {
        color  : $icon-drop-active-color;
        border : 3px dashed $icon-drop-active-color;
    }
}

.files-list
{
    position : relative;
    z-index  : 4;
    width    : 100%;

    & tr td
    {
        cursor         : default;
        color          : $text-color;
        font-size      : $font-size;
        letter-spacing : $letter-spacing;
        padding        : 6px 8px 6px 8px;
    }

    & tr:nth-child(odd) td
    {
        background : #ffffff;
    }

    & tr:nth-child(even) td
    {
        background : #f3f6fa;
    }

    & td
    {
        &:nth-child(1)
        {
            width : 50%;
        }

        &:nth-child(2)
        {
            width : 10px;
        }

        & i
        {
            color     : $icon-inactive-color;
            font-size : 11px;
        }

        & .dir
        {
            color : #a0a0a0;
        }
    }
}