.panel.files
{
    position      : absolute;
    z-index       : 20;
    left          : 0;
    top           : 0;
    overflow-y    : auto;
    border-top    : 1px solid #a3a3a3;
    border-bottom : 1px solid #a3a3a3;
    background    : #d8dfe7;

    & .progressbar
    {
        display  : none;
        position : fixed;
        z-index  : 26;
        left     : 10px;
        bottom   : 18px;

        & .bar
        {
            width         : 250px;
            height        : 10px;
            border-radius : 5px;
            background    : linear-gradient(to top, #f1f6f9, #d8d8d8);
            border        : 1px solid #a3a3a3;
            box-shadow    : inset 0 1px 0 #ffffff, 0 1px 0 #f1f6f9;

            & .progress
            {
                position      : relative;
                margin        : 1px 0 0 1px;
                width         : 40%;
                height        : 6px;
                border-radius : 4px;
                background    : linear-gradient(to bottom, #4a9de5, #0072d5);
            }
        }
    }

    & input[type=file]
    {
        display : none;
    }

    & table
    {
        width    : 100%;
        position : relative;
        z-index  : 23;
    }

    &.files .actions
    {
        width : 500px;
    }

    & .placeholder
    {
        color : #aabcca;

        &.bordered .text
        {
            text-shadow : 0 1px 0 rgba(255, 255, 255, 0.5);
            border      : 2px dashed #aabcca;
        }
    }

    &.js-drag .placeholder
    {
        cursor : copy;

        & .text
        {
            color  : #8896a1;
            border : 2px dashed #8896a1;
        }
    }
}

.files-list
{
    & tr.js-error td
    {
        color : rgb(237, 0, 0);

        & i
        {
            color : rgb(237, 0, 0);
        }
    }

    & tr td
    {
        cursor  : default;
        color   : #333333;
        padding : 6px 8px 6px 8px;

        &:nth-child(1)
        {
            width : 50%;
        }

        &:nth-child(2)
        {
            width : 10px;
        }

        & i
        {
            color     : #999999;
            font-size : 11px;
        }

        & .dir
        {
            display : none;
            color   : #a0a0a0;
        }
    }

    & tr:nth-child(odd) td
    {
        background : #ffffff;
    }

    & tr:nth-child(even) td
    {
        background : #f3f6fa;
    }

    & tr.js-active td
    {
        background             : #0072d5 !important;
        color                  : #ffffff !important;
        -webkit-font-smoothing : antialiased;
    }

    & tr.js-active td .dir,
    & tr.js-active td i
    {
        color : #ffffff !important;
    }
}