.operation
{
    cursor        : move;
    position      : relative;
    z-index       : 32;
    border-bottom : 1px solid $operation-border-color;
    box-sizing    : border-box;
    box-shadow    : 0 7px 16px -7px rgba(0, 0, 0, 0.2);
    background    : $operation-bg-color;
    padding       : 12px 0 0 0;
}

.operation-bar
{
    position : relative;
    padding  : 0 0 12px 0;

    & .type
    {
        cursor     : default;
        position   : absolute;
        z-index    : 35;
        top        : 9px;
        left       : 18px;
        color      : $icon-inactive-color;
        font-size  : 12px;
        float      : left;
        transition : opacity 200ms;
    }

    & .type.fa-pencil
    {
        top : 9px;
    }

    & select
    {
        cursor         : default;
        font-family    : $font-family;
        color          : $text-color;
        position       : relative;
        z-index        : 34;
        text-indent    : 16px;
        width          : 279px;
        height         : 30px;
        font-size      : $font-size;
        letter-spacing : $letter-spacing;
        margin         : 0 0 0 10px;
        background     : $operation-bg-color;
        border         : 1px solid $operation-border-color;
        transition     : width 200ms;
        text-shadow    : $text-shadow;
        border-radius  : 5px;
    }
}

.operation-fields
{
    cursor        : default;
    position      : relative;
    margin        : 0 10px 12px 10px;
    background    : $operation-field-bg-color;
    border-radius : 5px;
    box-shadow    : inset 0 1px 0 #d3d3d3;
    padding       : 12px 12px 0 12px;

    & .field
    {
        width          : 100%;
        font-size      : $font-size;
        letter-spacing : $letter-spacing;
        text-shadow    : $text-shadow;
        padding        : 0 0 12px 0;

        & input[type=text]
        {
            width          : 100%;
            font-size      : 12px;
            font-family    : $font-family;
            letter-spacing : $letter-spacing;
            padding        : 4px;
            border-radius  : 4px;
            box-shadow     : inset 0 1px 0 #ededed;
            height         : 28px;
            border         : 1px solid $operation-input-border-color;
            box-sizing     : border-box;
            margin         : 4px 0 0 0;
            transition     : border 150ms;
        }

        & input[type=text]:focus
        {
            border : 3px solid $operation-input-focus-border-color;
        }
    }
}

.operation-tools
{
    position      : relative;
    height        : 5px;
    margin        : 0 10px 12px 10px;
    border-top    : 1px solid #d5d5d5;
    border-bottom : 1px solid #d5d5d5;

    &:before
    {
        content    : ' ';
        display    : block;
        width      : 100%;
        height     : 1px;
        position   : absolute;
        top        : 2px;
        background : #d5d5d5;
    }

    &:after
    {
        z-index    : 40;
        content    : ' ';
        display    : block;
        position   : absolute;
        left       : 129px;
        top        : -1px;
        width      : 22px;
        height     : 7px;
        background : #f3f3f3;
    }

    &:hover select
    {
        width : 234px;
    }

    & .action
    {
        cursor     : default;
        color      : $icon-inactive-color;
        transition : color 150ms, opacity 150ms;
    }

    & .action:hover
    {
        color : $icon-color;
    }

    & .action:active
    {
        color : $icon-active-color;
    }

    & .delete
    {
        z-index   : 41;
        top       : -5px;
        position  : absolute;
        left      : 134px;
        font-size : 14px;
    }
}
