.panel.operations
{
    position               : absolute;
    z-index                : 30;
    width                  : 300px;
    right                  : 0;
    top                    : 0;
    overflow-y             : auto;
    background             : radial-gradient(ellipse at center, #3f3f3f 0%, #242424 100%);
    border-bottom          : 1px solid #2c2c2c;
    border-left            : 1px solid #2c2c2c;
    border-top             : 1px solid #2c2c2c;
    box-shadow             : inset 0 0 15px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing : antialiased;

    & .placeholder
    {
        color       : #cccccc;
        text-shadow : 0 1px 0 #282828;
    }

    & .actions
    {
        width : 300px;
    }

    & .js-operation-placeholder
    {
        margin : 10px;
        height : 50px;
        border : 2px dashed #535353;
    }
}

.operation
{
    position      : relative;
    z-index       : 32;
    border-top    : 1px solid #6a6a6a;
    border-bottom : 1px solid #2c2c2c;
    box-shadow    : 0 7px 16px -7px rgba(0, 0, 0, 0.2);
    background    : #535353;
    padding       : 0 0 12px 0;
}

.operation-subtitle
{
    position       : relative;
    font-size      : 12px;
    color          : #282828;
    font-weight    : bold;
    letter-spacing : 1px;
    text-transform : uppercase;
    margin         : 10px 0 8px 0;
    padding        : 0 0 0 20px;
    height         : 10px;
    line-height    : 10px;
    text-shadow    : 0 1px 0 #696969;
    cursor         : default;
}

.operation-separator
{
    width      : 100%;
    height     : 1px;
    border-top : 1px solid #2c2c2c;
    box-shadow : inset 0 1px 0 #6a6a6a;
    margin     : 11px 0 0 0;
    padding    : 0 0 2px 0;
    opacity    : 0.6;
}

.operation-helper
{
    color       : #282828;
    position    : absolute;
    width       : 26px;
    height      : 26px;
    font-size   : 14px;
    text-shadow : none;
    background  : transparent;

    &.operation-handle
    {
        cursor : move;
        top    : -8px;
        right  : 34px;
    }

    &.operation-delete
    {
        top   : -8px;
        right : 12px;
    }

    &.action-handle
    {
        cursor : move;
        top    : 2px;
        right  : 34px;
    }

    &.action-delete
    {
        top   : 2px;
        right : 1px;
    }

    &.add-action
    {
        top   : -8px;
        right : 12px;

        & select
        {
            -webkit-appearance : none;
            position           : relative;
            width              : 100%;
            height             : 100%;
            background         : transparent;
            opacity            : 0;
        }
    }

    & i
    {
        position : absolute;
        left     : 7px;
        top      : 5px;
    }
}

.operation-bar
{
    position : relative;

    & .chevron
    {
        position    : absolute;
        z-index     : 35;
        color       : #282828;
        font-size   : 11px;
        right       : 20px;
        top         : 10px;
        text-shadow : 0 1px 0 #696969;
    }

    & select
    {
        -webkit-appearance : none;
        color              : #d2d2d2;
        text-shadow        : 0 1px 0 #373737;
        position           : relative;
        z-index            : 34;
        text-indent        : 10px;
        line-height        : 14px;
        width              : 279px;
        height             : 30px;
        margin             : 0 0 0 10px;
        background         : linear-gradient(to bottom, #535353, #454545);
        border             : 1px solid #2c2c2c;
        border-radius      : 3px 3px 0 0;
        box-shadow         : inset 0 1px 0 #6f6f6f;
    }

    &.closed select
    {
        box-shadow    : inset 0 1px 0 #6f6f6f, 0 1px #696969;
        border-radius : 3px;
    }

}

.operation-actions
{
    & .js-action-placeholder
    {
        margin : 10px;
        height : 40px;
        border : 2px dashed #282828;
    }

    & .no-action
    {
        cursor        : default;
        color         : #d2d2d2;
        text-shadow   : 0 1px 0 #373737;
        margin        : 0 10px 0 10px;
        background    : #4a4a4a;
        border-radius : 3px;
        box-shadow    : inset 0 1px 2px #464646, 0 1px 0 #696969;
        padding       : 10px;
        border        : 1px solid #2c2c2c;
    }
}

.operation-action
{
    margin : 0 0 8px 0;

    & .heading
    {
        cursor        : default;
        position      : relative;
        padding       : 6px 0 0 0;
        color         : #d2d2d2;
        text-shadow   : 0 1px 0 #373737;
        text-indent   : 10px;
        background    : linear-gradient(to bottom, #535353, #454545);
        width         : 279px;
        height        : 30px;
        margin        : 0 0 0 10px;
        border        : 1px solid #2c2c2c;
        box-shadow    : inset 0 1px 0 #6f6f6f;
        border-radius : 3px 3px 0 0;
    }
}

.operation-fields
{
    color         : #d2d2d2;
    text-shadow   : 0 1px 0 #373737;
    position      : relative;
    margin        : 0 10px 0 10px;
    background    : #4a4a4a;
    border-radius : 0 0 3px 3px;
    box-shadow    : inset 0 1px 2px #464646, 0 1px 0 #696969;
    padding       : 10px 10px 0 10px;
    border        : 1px solid #2c2c2c;
    border-top    : 0;

    & .field
    {
        display  : block;
        position : relative;
        padding  : 0 0 10px 0;

        & input[type=text]
        {
            width         : 100%;
            color         : #d2d2d2;
            padding       : 4px;
            border-radius : 3px;
            box-shadow    : inset 0 1px 2px #373737, 0 1px 0 #5e5e5e;
            height        : 26px;
            margin        : 6px 0 0 0;
            transition    : border 150ms;
            background    : #3a3a3a;
            text-indent   : 2px;
        }

        & input[type=text]:focus
        {
            border      : 2px solid #3b99fc;
            text-indent : 0;
        }

        & input[type=checkbox]
        {
            position           : relative;
            float              : left;
            margin             : 1px 5px 0 0;
            -webkit-appearance : none;
            width              : 13px;
            height             : 13px;
            background         : linear-gradient(to bottom, #757575, #636363);
            box-shadow         : inset 0 1px 0 #909090, 0 1px 0 #696969;
            border-radius      : 3px;
            border             : 1px solid #2c2c2c;
        }

        & input[type=checkbox]:checked
        {
            background : #3b99fc;
            box-shadow : 0 1px 0 rgba(105, 105, 105, 0.7);
        }

        & input[type=checkbox]:checked:after
        {
            font-family : "FontAwesome", sans-serif;
            position    : absolute;
            top         : 2px;
            left        : 2px;
            font-size   : 7px;
            content     : '\f00c';
            color       : #ffffff;
        }

        & input[type=radio]
        {
            position           : relative;
            float              : left;
            margin             : 1px 5px 0 0;
            -webkit-appearance : none;
            width              : 13px;
            height             : 13px;
            background         : linear-gradient(to bottom, #757575, #636363);
            box-shadow         : inset 0 1px 0 #909090, 0 1px 0 #696969;
            border-radius      : 50%;
            border             : 1px solid #2c2c2c;
        }

        & input[type=radio]:checked
        {
            background : #3b99fc;
            box-shadow : 0 1px 0 rgba(105, 105, 105, 0.7);
        }

        & input[type=radio]:checked:after
        {
            font-family : "FontAwesome", sans-serif;
            position    : absolute;
            top         : 3px;
            left        : 3px;
            font-size   : 6px;
            content     : '\f111';
            color       : #ffffff;
        }
    }

}
