.panel
{
    box-sizing : border-box;
    position   : absolute;

    &.files
    {
        z-index       : 20;
        left          : 0;
        top           : 0;
        overflow-y    : auto;
        border-top    : 1px solid $border-color;
        border-bottom : 1px solid $border-color;
        box-sizing    : border-box;
        background    : $background-color;

        & input[type=file]
        {
            display : none;
        }

        & table
        {
            width    : 100%;
            position : relative;
            z-index  : 23;
            width    : 100%;
        }
    }

    &.toolbar
    {
        z-index    : 1;
        width      : 100%;
        height     : 46px;
        left       : 0;
        bottom     : 0;
        background : $toolbar-bg-color;
    }

    & .actions
    {
        z-index  : 30;
        position : fixed;
        bottom   : 11px;

        & label
        {
            float          : left;
            font-size      : $font-tiny-size;
            text-shadow    : $text-shadow;
            color          : $text-color;
            letter-spacing : $letter-spacing;
            margin         : 6px 0 0 10px;

            & input[type=checkbox]
            {
                float  : left;
                margin : 0px 4px 0 0;
            }
        }
    }

    &.files .actions
    {
        width : 500px;
    }
}
