html, body, div, span, p, form, input, textarea, select, h1, h2, h3, table, tbody, tr, td, label, button, ul, li
{
    margin         : 0;
    padding        : 0;
    border         : 0;
    outline        : 0;

    font-size      : 13px;
    font-family    : "Helvetica Neue", sans-serif;
    letter-spacing : 0.02em;
    box-sizing     : border-box;
}

html, body
{
    -webkit-user-select : none;
}

*[disabled=disabled]
{
    opacity : 0.5 !important;
}