html, body, div, span, p, form, input, textarea, select, h1, h2, h3, table, tbody, tr, td, label
{
    margin  : 0;
    padding : 0;
    border  : 0;
}

html, body
{
    font-family            : Helvetica;
    -webkit-font-smoothing : antialiased;
    background             : #eeeded;
    -webkit-user-select    : none;
}

body
{
    border-top : 1px solid #a2a2a2;
}
