html, body, div, span, p, form, input, textarea, select, h1, h2, h3, table, tbody, tr, td, label, button, ul, li
{
    margin         : 0;
    padding        : 0;
    border         : 0;
    outline        : 0;

    font-family    : 'HelveticaNeue-Light', sans-serif;
    letter-spacing : 0.02em;
    box-sizing     : border-box;
}

html
{
    background : #fefefe;
}

body
{
    padding : 50px 50px 15px 50px;
}

h1
{
    font-size              : 34px;
    color                  : #272727;
    text-align             : center;
    font-weight            : normal;
    -webkit-font-smoothing : antialiased;
    margin                 : 0 0 40px 0;
}

h2
{
    font-size              : 27px;
    color                  : #484848;
    font-weight            : normal;
    -webkit-font-smoothing : antialiased;
    margin                 : 0 0 15px 0;
}

p
{
    font-size   : 12px;
    line-height : 18px;
    color       : #484848;
    text-align  : justify;
    margin      : 0 0 25px 0;
}

p.centered
{
    text-align : center;
}

section
{
    margin        : 0 0 20px 0;
    border-bottom : 1px solid #cccccc;
}

img
{
    max-width  : 100%;
    box-shadow : 0 0 10px rgba(0, 0, 0, 0.25);
}