/* line 1, ../sass/_reset.scss */
html, body, div, span, p, form, input, textarea, select, h1, h2, h3, table, tbody, tr, td, label, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* line 9, ../sass/_reset.scss */
html, body {
  font-family: "Helvetica Neue";
  -webkit-user-select: none;
}

/* line 1, ../sass/_buttons.scss */
button {
  cursor: default;
  border-radius: 4px;
  padding: 4px 14px 4px 12px;
  box-shadow: 0 1px 0 #c4c4c4;
  font-size: 13px;
  opacity: 1;
}
/* line 10, ../sass/_buttons.scss */
button[disabled=disabled] {
  opacity: 0.5;
}
/* line 15, ../sass/_buttons.scss */
button.primary {
  color: #ffffff;
  background: linear-gradient(to bottom, #4fb6f7, #008afa);
  border: 1px solid #0080f8;
  -webkit-font-smoothing: antialiased;
  padding: 3px 13px 3px 11px;
}
/* line 24, ../sass/_buttons.scss */
button.primary:active {
  background: linear-gradient(to bottom, #46a2dc, #007ce1);
}
/* line 29, ../sass/_buttons.scss */
button.secondary {
  color: #333333;
  background: #ffffff;
}
/* line 35, ../sass/_buttons.scss */
button.secondary:active {
  color: #000000;
  background: #dddddd;
}
/* line 41, ../sass/_buttons.scss */
button.left {
  margin: 0 0 0 10px;
  float: left;
}
/* line 47, ../sass/_buttons.scss */
button.right {
  margin: 0 10px 0 0;
  float: right;
}

/* line 1, ../sass/_panels.scss */
.panel {
  box-sizing: border-box;
  position: absolute;
}
/* line 6, ../sass/_panels.scss */
.panel.toolbar {
  z-index: 1;
  width: 100%;
  height: 46px;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #e4e4e4, #d8d8d8);
}
/* line 16, ../sass/_panels.scss */
.panel .actions {
  z-index: 30;
  position: fixed;
  bottom: 11px;
}
/* line 22, ../sass/_panels.scss */
.panel .actions label {
  float: left;
  font-size: 11px;
  text-shadow: 0 1px 0 #ffffff;
  color: #333333;
  letter-spacing: 0.02em;
  margin: 6px 0 0 10px;
}
/* line 31, ../sass/_panels.scss */
.panel .actions label input[type=checkbox] {
  float: left;
  margin: 0px 4px 0 0;
}

/* line 1, ../sass/_placeholders.scss */
.placeholder {
  position: absolute;
  z-index: 21;
  width: 100%;
  height: 100%;
}
/* line 8, ../sass/_placeholders.scss */
.placeholder .text {
  position: absolute;
  z-index: 22;
  width: 300px;
  height: 130px;
  top: 50%;
  left: 50%;
  margin: -65px 0 0 -150px;
  border: 3px dashed transparent;
  border-radius: 8px;
  transition: color 300ms, border 300ms;
}
/* line 21, ../sass/_placeholders.scss */
.placeholder .text div {
  cursor: default;
  position: relative;
  width: 100%;
  text-align: center;
  margin: 10px 0 0 0;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
/* line 34, ../sass/_placeholders.scss */
.placeholder .text i {
  position: relative;
  left: 50%;
  margin: 25px 0 0 -20px;
  font-size: 48px;
}
/* line 43, ../sass/_placeholders.scss */
.placeholder.js-hidden {
  display: none;
}

/* line 1, ../sass/_files.scss */
.panel.files {
  z-index: 20;
  left: 0;
  top: 0;
  overflow-y: auto;
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  box-sizing: border-box;
  background: #d8dfe7;
}
/* line 12, ../sass/_files.scss */
.panel.files input[type=file] {
  display: none;
}
/* line 17, ../sass/_files.scss */
.panel.files table {
  width: 100%;
  position: relative;
  z-index: 23;
  width: 100%;
}
/* line 25, ../sass/_files.scss */
.panel.files.files .actions {
  width: 500px;
}
/* line 30, ../sass/_files.scss */
.panel.files .placeholder {
  color: #aabcca;
}
/* line 34, ../sass/_files.scss */
.panel.files .placeholder.bordered .text {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 2px dashed #aabcca;
}
/* line 41, ../sass/_files.scss */
.panel.files.js-drag .placeholder {
  cursor: copy;
}
/* line 46, ../sass/_files.scss */
.panel.files.js-drag .placeholder .text {
  color: #96a6b2;
  border: 2px dashed #96a6b2;
}

/* line 56, ../sass/_files.scss */
.files-list tr td {
  cursor: default;
  color: #333333;
  font-size: 13px;
  letter-spacing: 0.02em;
  padding: 6px 8px 6px 8px;
}
/* line 64, ../sass/_files.scss */
.files-list tr td:nth-child(1) {
  width: 50%;
}
/* line 69, ../sass/_files.scss */
.files-list tr td:nth-child(2) {
  width: 10px;
}
/* line 74, ../sass/_files.scss */
.files-list tr td i {
  color: #999999;
  font-size: 11px;
}
/* line 80, ../sass/_files.scss */
.files-list tr td .dir {
  display: none;
  color: #a0a0a0;
}
/* line 87, ../sass/_files.scss */
.files-list.js-directories-visible tr td .dir {
  display: inline;
}
/* line 92, ../sass/_files.scss */
.files-list tr:nth-child(odd) td {
  background: #ffffff;
}
/* line 97, ../sass/_files.scss */
.files-list tr:nth-child(even) td {
  background: #f3f6fa;
}
/* line 102, ../sass/_files.scss */
.files-list tr.js-active td {
  background: #0072d5 !important;
  color: #ffffff !important;
  -webkit-font-smoothing: antialiased;
}
/* line 109, ../sass/_files.scss */
.files-list tr.js-active td .dir, .files-list tr.js-active td i {
  color: #ffffff !important;
}

/* line 1, ../sass/_operations.scss */
.panel.operations {
  z-index: 30;
  width: 300px;
  right: 0;
  top: 0;
  overflow-y: auto;
  background: radial-gradient(ellipse at center, #3f3f3f 0%, #242424 100%);
  border-bottom: 1px solid #282828;
  border-left: 1px solid #282828;
  box-sizing: border-box;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
}
/* line 15, ../sass/_operations.scss */
.panel.operations .placeholder {
  color: #cccccc;
  text-shadow: 0 1px 0 #282828;
}
/* line 21, ../sass/_operations.scss */
.panel.operations .actions {
  width: 300px;
}

/* line 27, ../sass/_operations.scss */
.js-sortable {
  margin: 10px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px dashed #535353;
}

/* line 36, ../sass/_operations.scss */
.operation {
  cursor: move;
  position: relative;
  z-index: 32;
  border-top: 1px solid #6a6a6a;
  border-bottom: 1px solid #282828;
  box-sizing: border-box;
  box-shadow: 0 7px 16px -7px rgba(0, 0, 0, 0.2);
  background: #535353;
  padding: 12px 0 0 0;
}

/* line 49, ../sass/_operations.scss */
.operation-bar {
  position: relative;
  padding: 0 0 12px 0;
}
/* line 54, ../sass/_operations.scss */
.operation-bar .type {
  cursor: default;
  position: absolute;
  z-index: 35;
  top: 9px;
  left: 20px;
  color: #b0b0b0;
  font-size: 12px;
  transition: opacity 200ms;
}
/* line 66, ../sass/_operations.scss */
.operation-bar .chevron {
  cursor: default;
  position: absolute;
  z-index: 35;
  color: #b0b0b0;
  font-size: 11px;
  right: 20px;
  top: 9px;
}
/* line 77, ../sass/_operations.scss */
.operation-bar.operation-actions .chevron {
  right: 51px;
}
/* line 82, ../sass/_operations.scss */
.operation-bar .delete {
  cursor: default;
  color: #282828;
  position: absolute;
  z-index: 34;
  width: 29px;
  height: 27px;
  font-size: 14px;
  background: linear-gradient(to bottom, #757575, #636363);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  top: 2px;
  right: 12px;
  border-left: 1px dotted #282828;
}
/* line 99, ../sass/_operations.scss */
.operation-bar .delete:active {
  background: linear-gradient(to top, #757575, #636363);
}
/* line 104, ../sass/_operations.scss */
.operation-bar .delete i {
  cursor: default;
  position: absolute;
  z-index: 35;
  right: 10px;
  top: 6px;
  text-shadow: 0 1px 0 #696969;
}
/* line 114, ../sass/_operations.scss */
.operation-bar .type.fa-pencil {
  top: 9px;
}
/* line 119, ../sass/_operations.scss */
.operation-bar select {
  -webkit-appearance: none;
  cursor: default;
  font-family: "Helvetica Neue";
  color: #ffffff;
  text-shadow: 0 1px 0 #373737;
  position: relative;
  z-index: 34;
  text-indent: 28px;
  line-height: 12px;
  width: 280px;
  height: 30px;
  font-size: 13px;
  letter-spacing: 0.02em;
  margin: 0 0 0 10px;
  background: linear-gradient(to bottom, #757575, #636363);
  border: 1px solid #282828;
  transition: width 200ms;
  box-shadow: inset 0 1px 0 #909090, 0 1px 0 #696969;
  border-radius: 4px;
}

/* line 144, ../sass/_operations.scss */
.operation-fields {
  color: #ffffff;
  text-shadow: 0 1px 0 #373737;
  cursor: default;
  position: relative;
  margin: 0 10px 12px 10px;
  background: #4a4a4a;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px #464646, 0 1px 0 #696969;
  padding: 10px 10px 0 10px;
  border: 1px solid #383838;
  box-sizing: border-box;
}
/* line 158, ../sass/_operations.scss */
.operation-fields .field {
  width: 100%;
  font-size: 13px;
  letter-spacing: 0.02em;
  padding: 0 0 10px 0;
}
/* line 165, ../sass/_operations.scss */
.operation-fields .field input[type=text] {
  width: 100%;
  font-size: 12px;
  font-family: "Helvetica Neue";
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 4px;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px #373737, 0 1px 0 #5e5e5e;
  height: 26px;
  box-sizing: border-box;
  margin: 6px 0 0 0;
  transition: border 150ms;
  background: #3a3a3a;
}
/* line 182, ../sass/_operations.scss */
.operation-fields .field input[type=text]:focus {
  border: 2px solid #3b99fc;
}
/* line 187, ../sass/_operations.scss */
.operation-fields .field input[type=checkbox] {
  float: left;
  margin: 1px 5px 0 0;
}
