html, body, div, span, p, form, input, textarea, select, h1, h2, h3, table, tbody, tr, td, label
{
    margin  : 0;
    padding : 0;
    border  : 0;
    outline : 0;
}

html, body
{
    font-family         : 'Helvetica Neue';
    /*-webkit-font-smoothing : antialiased;*/
    -webkit-user-select : none;
}

.files-panel
{
    position   : absolute;
    left       : 0;
    top        : 0;
    overflow-y : auto;
    border-top : 1px solid #a3a3a3;
    box-sizing : border-box;
}

.files-panel table
{
    width : 100%;
}

.files-panel tr td
{
    cursor         : default;
    font-size      : 13px;
    letter-spacing : 0.02em;
    padding        : 6px 8px 6px 8px;
    color          : #333333;
}

.files-panel tr:nth-child(odd) td
{
    background : #ffffff;
}

.files-panel tr:nth-child(even) td
{
    background : #f3f6fa;
}

.files-panel tr td:nth-child(1)
{
    width : 50%;
}

.files-panel tr td:nth-child(2)
{
    width : 10px;
}

.files-panel tr td i
{
    color     : #999999;
    font-size : 11px;
}

.files-panel tr td .dir
{
    color : #a0a0a0;
}

.operations-panel
{
    position    : absolute;
    width       : 300px;
    right       : 0;
    top         : 0;
    overflow-y  : auto;
    background  : #f3f3f4;
    border-left : 1px solid #a3a3a3;
    border-top  : 1px solid #a3a3a3;
    box-sizing  : border-box;
    box-shadow  : inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.operations-panel .operation
{
    background    : #f2f2f2;
    border-bottom : 1px solid rgba(163, 163, 163, 0.75);
    box-sizing    : border-box;
    box-shadow    : 0 7px 16px -7px rgba(0, 0, 0, 0.2);
}

.operations-panel .operation .bar
{
    position      : relative;
    padding       : 12px 0 12px 0;
    border-bottom : 1px dotted rgba(163, 163, 163, 0.75);
    background    : linear-gradient(to top, #f2f2f2, #ffffff);
}

.operations-panel .operation .bar .type,
.operations-panel .operation .bar .move
{
    position   : absolute;
    top        : 19px;
    left       : 10px;
    font-size  : 14px;
    color      : #c2c2c2;
    float      : left;
    transition : opacity 200ms;
}

.operations-panel .operation .bar .type.fa-pencil
{
    top : 20px;
}

.operations-panel .operation .bar .move
{
    cursor  : move;
    opacity : 0;
}

.operations-panel .operation .bar:hover .move
{
    opacity : 1;
}

.operations-panel .operation .bar:hover .type
{
    opacity : 0;
}

.operations-panel .operation .bar select
{
    position    : relative;
    z-index     : 2;
    font-family : 'Helvetica Neue';
    width       : 256px;
    height      : 30px;
    font-size   : 12px;
    margin      : 0 0 0 32px;
    background  : linear-gradient(to top, #f2f2f2, #ffffff);
    border      : 1px solid rgba(163, 163, 163, 0.75);
    transition  : width 200ms;
}

.operations-panel .operation .bar:hover select
{
    width : 238px;
}

.operations-panel .operation .bar .delete
{
    opacity    : 0;
    font-size  : 16px;
    color      : #c2c2c2;
    cursor     : default;
    position   : absolute;
    top        : 19px;
    right      : 10px;
    transition : color 200ms, opacity 200ms;
}

.operations-panel .operation .bar:hover .delete
{
    opacity : 1;
}

.operations-panel .operation .bar .delete:hover
{
    color : #797979;
}

.operations-panel .operation .bar .delete:active
{
    color : #252525;
}

.operations-panel .operation .bar .delete i
{
    float : left;
}

.operations-panel .operation .options
{
    position : relative;
    padding  : 12px 0 12px 0;
}

.options-panel
{
    position   : absolute;
    width      : 100%;
    height     : 33px;
    left       : 0;
    bottom     : 0;
    background : linear-gradient(to top, #d4d4d4, #ebebeb);
    border-top : 1px solid #a3a3a3;
    box-sizing : border-box;
}

.options-panel label
{
    float       : left;
    font-size   : 11px;
    color       : #333333;
    text-shadow : 0 1px 0 #ffffff;
    margin      : 9px 0 0 5px;
}

.options-panel label input
{
    float  : left;
    margin : 0 4px 0 0;
}