/* line 1, ../sass/_reset.scss */
html, body, div, span, p, form, input, textarea, select, h1, h2, h3, table, tbody, tr, td, label, button, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 13px;
  font-family: "Helvetica Neue", sans-serif;
  letter-spacing: 0.02em;
  box-sizing: border-box;
}

/* line 14, ../sass/_reset.scss */
html, body {
  -webkit-user-select: none;
}

/* line 1, ../sass/_toolbar.scss */
.panel.toolbar {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 48px;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #f1f6f9, #d8d8d8);
  box-shadow: inset 0 1px 0 #ffffff;
}

/* line 13, ../sass/_toolbar.scss */
.panel .actions {
  z-index: 30;
  position: fixed;
  bottom: 11px;
}
/* line 19, ../sass/_toolbar.scss */
.panel .actions button.left {
  float: left;
  margin: 0 0 0 10px;
}
/* line 25, ../sass/_toolbar.scss */
.panel .actions button.right {
  float: right;
  margin: 0 10px 0 0;
}
/* line 31, ../sass/_toolbar.scss */
.panel .actions button[disabled=disabled] {
  opacity: 0.5;
}
/* line 36, ../sass/_toolbar.scss */
.panel .actions button {
  border-radius: 4px;
  padding: 4px 14px 4px 6px;
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #f1f6f9;
  opacity: 1;
}
/* line 43, ../sass/_toolbar.scss */
.panel .actions button.primary {
  color: #ffffff;
  background: linear-gradient(to bottom, #4a9de5, #0072d5);
  border: 1px solid #005fb2;
  -webkit-font-smoothing: antialiased;
  padding: 4px 13px 4px 6px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
/* line 53, ../sass/_toolbar.scss */
.panel .actions button.primary:active {
  background: linear-gradient(to top, #4a9de5, #0072d5);
}
/* line 58, ../sass/_toolbar.scss */
.panel .actions button.secondary {
  background: linear-gradient(to bottom, #f1f6f9, #d8d8d8);
  border: 1px solid #a3a3a3;
}
/* line 64, ../sass/_toolbar.scss */
.panel .actions button.secondary:active {
  background: linear-gradient(to top, #f1f6f9, #d8d8d8);
}
/* line 69, ../sass/_toolbar.scss */
.panel .actions button i {
  float: left;
  margin: 0 6px 0 0;
  font-size: 15px;
  color: rgba(51, 51, 51, 0.35);
}
/* line 77, ../sass/_toolbar.scss */
.panel .actions button.primary i {
  color: rgba(255, 255, 255, 0.4);
}

/* line 1, ../sass/_placeholders.scss */
.placeholder {
  position: absolute;
  z-index: 21;
  width: 100%;
  height: 100%;
}
/* line 8, ../sass/_placeholders.scss */
.placeholder .text {
  position: absolute;
  z-index: 22;
  width: 300px;
  height: 130px;
  top: 50%;
  left: 50%;
  margin: -65px 0 0 -150px;
  border: 3px dashed transparent;
  border-radius: 8px;
  transition: color 300ms, border 300ms;
}
/* line 21, ../sass/_placeholders.scss */
.placeholder .text div {
  cursor: default;
  position: relative;
  width: 100%;
  text-align: center;
  margin: 10px 0 0 0;
  font-size: 18px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
/* line 33, ../sass/_placeholders.scss */
.placeholder .text i {
  position: relative;
  left: 50%;
  margin: 25px 0 0 -20px;
  font-size: 48px;
}

/* line 1, ../sass/_files.scss */
.panel.files {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  overflow-y: auto;
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  background: #d8dfe7;
}
/* line 12, ../sass/_files.scss */
.panel.files .progressbar {
  display: none;
  position: fixed;
  z-index: 26;
  left: 10px;
  bottom: 18px;
}
/* line 20, ../sass/_files.scss */
.panel.files .progressbar .bar {
  width: 250px;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(to top, #f1f6f9, #d8d8d8);
  border: 1px solid #a3a3a3;
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #f1f6f9;
}
/* line 29, ../sass/_files.scss */
.panel.files .progressbar .bar .progress {
  position: relative;
  margin: 1px 0 0 1px;
  width: 40%;
  height: 6px;
  border-radius: 4px;
  background: linear-gradient(to bottom, #4a9de5, #0072d5);
}
/* line 41, ../sass/_files.scss */
.panel.files input[type=file] {
  display: none;
}
/* line 46, ../sass/_files.scss */
.panel.files table {
  width: 100%;
  position: relative;
  z-index: 23;
}
/* line 53, ../sass/_files.scss */
.panel.files.files .actions {
  width: 500px;
}
/* line 58, ../sass/_files.scss */
.panel.files .placeholder {
  color: #aabcca;
}
/* line 62, ../sass/_files.scss */
.panel.files .placeholder.bordered .text {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 2px dashed #aabcca;
}
/* line 69, ../sass/_files.scss */
.panel.files.js-drag .placeholder {
  cursor: copy;
}
/* line 73, ../sass/_files.scss */
.panel.files.js-drag .placeholder .text {
  color: #8896a1;
  border: 2px dashed #8896a1;
}

/* line 83, ../sass/_files.scss */
.files-list tr.js-error td {
  color: #ed0000;
}
/* line 87, ../sass/_files.scss */
.files-list tr.js-error td i, .files-list tr.js-error td span {
  color: #ed0000;
}
/* line 94, ../sass/_files.scss */
.files-list tr td {
  cursor: default;
  color: #333333;
  padding: 6px 8px 6px 8px;
}
/* line 100, ../sass/_files.scss */
.files-list tr td:nth-child(1) {
  width: 50%;
}
/* line 105, ../sass/_files.scss */
.files-list tr td:nth-child(2) {
  width: 10px;
}
/* line 110, ../sass/_files.scss */
.files-list tr td i {
  color: #999999;
  font-size: 11px;
}
/* line 116, ../sass/_files.scss */
.files-list tr td .dir {
  display: none;
  color: #a0a0a0;
}
/* line 122, ../sass/_files.scss */
.files-list tr td span {
  display: block;
  font-size: 11px;
  margin: 2px 0 0 0;
}
/* line 129, ../sass/_files.scss */
.files-list tr td em {
  font-style: normal;
}
/* line 135, ../sass/_files.scss */
.files-list tr:nth-child(odd) td {
  background: #ffffff;
}
/* line 140, ../sass/_files.scss */
.files-list tr:nth-child(even) td {
  background: #f3f6fa;
}
/* line 145, ../sass/_files.scss */
.files-list tr.js-active td {
  background: #0072d5 !important;
  color: #ffffff !important;
  -webkit-font-smoothing: antialiased;
}
/* line 152, ../sass/_files.scss */
.files-list tr.js-active td .dir, .files-list tr.js-active td i {
  color: #ffffff !important;
}

/* line 1, ../sass/_operations.scss */
.panel.operations {
  position: absolute;
  z-index: 30;
  width: 300px;
  right: 0;
  top: 0;
  overflow-y: auto;
  background: radial-gradient(ellipse at center, #3f3f3f 0%, #242424 100%);
  border-bottom: 1px solid #2c2c2c;
  border-left: 1px solid #2c2c2c;
  border-top: 1px solid #2c2c2c;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
}
/* line 16, ../sass/_operations.scss */
.panel.operations .placeholder {
  color: #cccccc;
  text-shadow: 0 1px 0 #282828;
}
/* line 22, ../sass/_operations.scss */
.panel.operations .actions {
  width: 300px;
}
/* line 27, ../sass/_operations.scss */
.panel.operations .js-operation-placeholder {
  margin: 10px;
  height: 60px;
  border: 2px dashed #535353;
  border-radius: 5px;
}

/* line 36, ../sass/_operations.scss */
.js-disabled .operation {
  opacity: 0.7;
}

/* line 41, ../sass/_operations.scss */
.operation {
  position: relative;
  z-index: 32;
  border-top: 1px solid #6a6a6a;
  border-bottom: 1px solid #2c2c2c;
  box-shadow: 0 7px 16px -7px rgba(0, 0, 0, 0.2);
  background: #535353;
  padding: 0 0 12px 0;
}

/* line 52, ../sass/_operations.scss */
.operation-subtitle {
  position: relative;
  font-size: 12px;
  color: #282828;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px 0 8px 0;
  padding: 0 0 0 12px;
  height: 10px;
  line-height: 10px;
  text-shadow: 0 1px 0 #696969;
  cursor: default;
}

/* line 68, ../sass/_operations.scss */
.operation-separator {
  width: 100%;
  height: 1px;
  border-top: 1px solid #2c2c2c;
  box-shadow: inset 0 1px 0 #6a6a6a;
  margin: 11px 0 0 0;
  padding: 0 0 2px 0;
  opacity: 0.6;
}

/* line 79, ../sass/_operations.scss */
.operation-helper {
  color: #282828;
  position: absolute;
  font-size: 14px;
  text-shadow: none;
  background: transparent;
  width: 20px;
  height: 20px;
}
/* line 89, ../sass/_operations.scss */
.operation-helper.operation-handle {
  cursor: move;
  top: -6px;
  right: 31px;
}
/* line 96, ../sass/_operations.scss */
.operation-helper.operation-delete {
  top: -6px;
  right: 12px;
}
/* line 102, ../sass/_operations.scss */
.operation-helper.action-handle {
  cursor: move;
  top: 4px;
  right: 20px;
}
/* line 109, ../sass/_operations.scss */
.operation-helper.action-delete {
  top: 4px;
  right: 1px;
}
/* line 115, ../sass/_operations.scss */
.operation-helper.add-action {
  top: -6px;
  right: 12px;
}
/* line 120, ../sass/_operations.scss */
.operation-helper.add-action select {
  z-index: 2;
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0;
  text-indent: 20px;
}
/* line 133, ../sass/_operations.scss */
.operation-helper i {
  z-index: 1;
  position: absolute;
  top: 3px;
  right: 4px;
}

/* line 142, ../sass/_operations.scss */
.operation-bar {
  position: relative;
}
/* line 146, ../sass/_operations.scss */
.operation-bar .chevron {
  position: absolute;
  z-index: 35;
  color: #282828;
  font-size: 11px;
  right: 16px;
  top: 10px;
  text-shadow: 0 1px 0 #696969;
}
/* line 157, ../sass/_operations.scss */
.operation-bar select {
  -webkit-appearance: none;
  color: #d2d2d2;
  text-shadow: 0 1px 0 #373737;
  position: relative;
  z-index: 34;
  text-indent: 6px;
  line-height: 14px;
  width: 279px;
  height: 30px;
  margin: 0 0 0 10px;
  background: linear-gradient(to bottom, #535353, #454545);
  border: 1px solid #2c2c2c;
  border-radius: 3px 3px 0 0;
  box-shadow: inset 0 1px 0 #6f6f6f;
}
/* line 175, ../sass/_operations.scss */
.operation-bar.closed select {
  box-shadow: inset 0 1px 0 #6f6f6f, 0 1px #696969;
  border-radius: 3px;
}

/* line 185, ../sass/_operations.scss */
.operation-actions .js-action-placeholder {
  margin: 10px;
  height: 60px;
  background: #4d4d4d;
  border-radius: 5px;
  border: 2px dashed #474747;
}
/* line 194, ../sass/_operations.scss */
.operation-actions .no-action {
  cursor: default;
  color: #3a3a3a;
  text-shadow: 0 1px 0 #5a5a5a;
  font-weight: bold;
  text-align: center;
  margin: 0 10px 0 10px;
  background: #4d4d4d;
  border-radius: 5px;
  padding: 10px;
  border: 2px dashed #474747;
}

/* line 209, ../sass/_operations.scss */
.operation-action {
  margin: 0 0 8px 0;
}
/* line 213, ../sass/_operations.scss */
.operation-action .heading {
  cursor: default;
  position: relative;
  padding: 6px 0 0 0;
  color: #d2d2d2;
  text-shadow: 0 1px 0 #373737;
  text-indent: 6px;
  background: linear-gradient(to bottom, #535353, #454545);
  width: 279px;
  height: 30px;
  margin: 0 0 0 10px;
  border: 1px solid #2c2c2c;
  box-shadow: inset 0 1px 0 #6f6f6f;
  border-radius: 3px 3px 0 0;
}

/* line 231, ../sass/_operations.scss */
.operation-fields {
  color: #d2d2d2;
  text-shadow: 0 1px 0 #373737;
  position: relative;
  margin: 0 10px 0 10px;
  background: #4a4a4a;
  border-radius: 0 0 3px 3px;
  box-shadow: inset 0 1px 2px #464646, 0 1px 0 #696969;
  padding: 10px 10px 0 10px;
  border: 1px solid #2c2c2c;
  border-top: 0;
}
/* line 244, ../sass/_operations.scss */
.operation-fields .field-help {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 250, ../sass/_operations.scss */
.operation-fields .field-help:hover i {
  color: #3a3a3a;
}
/* line 255, ../sass/_operations.scss */
.operation-fields .field-help i {
  position: absolute;
  top: -30px;
  right: 6px;
  font-size: 14px;
  text-shadow: none;
  z-index: 2;
}
/* line 265, ../sass/_operations.scss */
.operation-fields .field-help:hover .popin {
  display: block;
}
/* line 270, ../sass/_operations.scss */
.operation-fields .field-help .popin {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 0px;
  z-index: 1;
  width: 120px;
  padding: 6px 24px 3px 3px;
  background: rgba(0, 0, 0, 0.7);
  text-shadow: none;
  border-radius: 3px;
  list-style-type: none;
}
/* line 284, ../sass/_operations.scss */
.operation-fields .field-help .popin li {
  font-size: 11px;
  color: #a3a3a3;
}
/* line 290, ../sass/_operations.scss */
.operation-fields .field-help .popin span {
  font-size: 11px;
  display: inline-block;
  padding: 1px 0 1px 0;
  margin: 0 3px 3px 0;
  width: 36px;
  border-radius: 2px;
  background: #202020;
  color: #d2d2d2;
  text-align: center;
}
/* line 306, ../sass/_operations.scss */
.operation-fields .field {
  display: block;
  position: relative;
  padding: 0 0 10px 0;
}
/* line 312, ../sass/_operations.scss */
.operation-fields .field input[type=text] {
  width: 100%;
  color: #d2d2d2;
  padding: 4px;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px #373737, 0 1px 0 #5e5e5e;
  height: 26px;
  margin: 6px 0 0 0;
  transition: border 150ms;
  background: #3a3a3a;
  text-indent: 2px;
}
/* line 326, ../sass/_operations.scss */
.operation-fields .field input[type=text]:focus {
  border: 2px solid #3b99fc;
  text-indent: 0;
}
/* line 332, ../sass/_operations.scss */
.operation-fields .field input[type=checkbox] {
  position: relative;
  float: left;
  margin: 1px 5px 0 0;
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  background: linear-gradient(to bottom, #757575, #636363);
  box-shadow: inset 0 1px 0 #909090, 0 1px 0 #696969;
  border-radius: 3px;
  border: 1px solid #2c2c2c;
}
/* line 346, ../sass/_operations.scss */
.operation-fields .field input[type=checkbox]:checked {
  background: #3b99fc;
  box-shadow: 0 1px 0 rgba(105, 105, 105, 0.7);
}
/* line 352, ../sass/_operations.scss */
.operation-fields .field input[type=checkbox]:checked:after {
  font-family: "FontAwesome", sans-serif;
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 7px;
  content: '\f00c';
  color: #ffffff;
}
/* line 363, ../sass/_operations.scss */
.operation-fields .field input[type=radio] {
  position: relative;
  float: left;
  margin: 1px 5px 0 0;
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  background: linear-gradient(to bottom, #757575, #636363);
  box-shadow: inset 0 1px 0 #909090, 0 1px 0 #696969;
  border-radius: 50%;
  border: 1px solid #2c2c2c;
}
/* line 377, ../sass/_operations.scss */
.operation-fields .field input[type=radio]:checked {
  background: #3b99fc;
  box-shadow: 0 1px 0 rgba(105, 105, 105, 0.7);
}
/* line 383, ../sass/_operations.scss */
.operation-fields .field input[type=radio]:checked:after {
  font-family: "FontAwesome", sans-serif;
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 6px;
  content: '\f111';
  color: #ffffff;
}
