<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/help.css" type="text/css">
    </head>
    <body>
        <h1>
            Namagic help
        </h1>
        <section>
            <p>
                Le Partage familial permet à six membres de votre famille de partager leurs achats effectués sur l’iTunes Store,
                l’App Store et l’iBooks Store, un calendrier familial et les photos de famille, sans avoir à partager de compte.
            </p>
        </section>
        <section>
            <h2>
                Configurer le partage familial
            </h2>
            <p>
                Le Partage familial permet à six membres de votre famille de partager leurs achats effectués sur l’iTunes Store,
                l’App Store et l’iBooks Store, un calendrier familial et les photos de famille, sans avoir à partager de compte.
            </p>
            <p class="centered">
                <img src="file:///Users/johan/Desktop/Monosnap%202015-04-08%2018-49-46.png">
            </p>
            <p>
                Le Partage familial permet à six membres de votre famille de partager leurs achats effectués sur l’iTunes Store,
                l’App Store et l’iBooks Store, un calendrier familial et les photos de famille, sans avoir à partager de compte.
            </p>
        </section>
        <section>
            <h2>
                Configurer le partage familial
            </h2>
            <p>
                Le Partage familial permet à six membres de votre famille de partager leurs achats effectués sur l’iTunes Store,
                l’App Store et l’iBooks Store, un calendrier familial et les photos de famille, sans avoir à partager de compte.
            </p>
            <p>
                Le Partage familial permet à six membres de votre famille de partager leurs achats effectués sur l’iTunes Store,
                l’App Store et l’iBooks Store, un calendrier familial et les photos de famille, sans avoir à partager de compte.
            </p>
        </section>
    </body>
</html>