<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/main.css" type="text/css">
    </head>
    <body>
        <div class="files-panel js-files-panel">
            <div class="placeholder js-file-placeholder">
                <div class="text">
                    <i class="fa fa-arrow-circle-down"></i>
                    <div>{{main.drop}}</div>
                </div>
            </div>
            <input type="file" multiple class="js-files-input">
            <table class="files-list" cellpadding="0" cellspacing="0">
                <tbody class="js-files-list"></tbody>
            </table>
            <script type="text/template" class="js-file-template">
                <tr class="js-file">
                    <td>
                        <span class="dir">{{dir}}</span>
                        <span>{{name}}</span>
                    </td>
                    <td>
                        <i class="fa fa-arrow-right"></i>
                    </td>
                    <td>
                        <span class="dir">{{dir}}</span>
                        <span class="js-new-name">file.ext</span>
                    </td>
                </tr>
            </script>
            <div class="options-actions">
                <a class="secondary js-files-add" href="#">
                    {{main.actions.add_files}}
                </a>
            </div>
        </div>
        <div class="operations-panel js-operations-panel">
            <div class="empty">
                <i class="fa fa-cogs"></i>
                <div>{{main.no_action}}</div>
            </div>
            <div class="operation">
                <div class="operation-bar operation-tools">
                    <i class="type fa fa-search"></i>
                    <select>
                        <option>Select text...</option>
                        <option>All text</option>
                        <option>Digits</option>
                        <option>Special characters</option>
                        <option>Characters by case</option>
                        <option>List of characters</option>
                        <option>Range of characters</option>
                        <option>Regular expression</option>
                    </select>
                    <i class="action move fa fa-arrows"></i>
                    <i class="action delete fa fa-remove"></i>
                </div>
                <div class="operation-fields">
                    <div class="field">
                        <label>
                            <input type="checkbox">
                            @todo wording champ
                        </label>
                    </div>
                    <div class="field">
                        <label>
                            @todo wording champ
                            <input type="text">
                        </label>
                    </div>
                </div>
                <div class="operation-bar">
                    <i class="type fa fa-pencil"></i>
                    <select>
                        <option>Replace with...</option>
                        <option>Free text</option>
                        <option>Digits sequence</option>
                        <option>Same text with options</option>
                    </select>
                </div>
                <div class="operation-fields">
                    <div class="field">
                        <label>
                            <input type="checkbox">
                            @todo wording champ
                        </label>
                    </div>
                    <div class="field">
                        <label>
                            @todo wording champ
                            <input type="text">
                        </label>
                    </div>
                </div>
            </div>
            <div class="options-actions">
                <a class="primary" href="#">
                    {{main.actions.apply}}
                </a>
                <a class="secondary" href="#">
                    {{main.actions.add_action}}
                </a>
            </div>
        </div>
        <div class="toolbar-panel js-toolbar-panel"></div>
    </body>
</html>