<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/main.css" type="text/css">
    </head>
    <body>
        <div class="files-panel js-files-panel">
            <table cellpadding="0" cellspacing="0">
                <tbody>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/Users/johan/www/github/min/builder/</span>test.js</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/Users/johan/www/github/min/builder/</span>test.js</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                    <tr><td><span class="dir">/test/</span>file.txt</td><td><i class="fa fa-arrow-right"></i></td><td><span class="dir">/test/</span>file-dest.txt</td></tr>
                </tbody>
            </table>
        </div>
        <div class="operations-panel js-operations-panel">
            <div class="operation">
                <div class="bar tools">
                    <i class="type fa fa-search"></i>
                    <select>
                        <option>Select text...</option>
                        <option>All text</option>
                        <option>Digits</option>
                        <option>Special characters</option>
                        <option>Characters by case</option>
                        <option>List of characters</option>
                        <option>Range of characters</option>
                        <option>Regular expression</option>
                    </select>
                    <i class="action move fa fa-arrows"></i>
                    <i class="action delete fa fa-remove"></i>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>
                            <input type="checkbox">
                            @todo wording champ
                        </label>
                    </div>
                    <div class="field">
                        <label>
                            @todo wording champ
                            <input type="text">
                        </label>
                    </div>
                </div>
                <div class="bar">
                    <i class="type fa fa-pencil"></i>
                    <select>
                        <option>Replace with...</option>
                        <option>Free text</option>
                        <option>Digits sequence</option>
                        <option>Same text with options</option>
                    </select>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>
                            <input type="checkbox">
                            @todo wording champ
                        </label>
                    </div>
                    <div class="field">
                        <label>
                            @todo wording champ
                            <input type="text">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="options-panel js-options-panel">
            <label>
                <input type="checkbox">
                @todo wording directories
            </label>
            <a class="primary" href="#">
                @todo apply
            </a>
            <a class="secondary" href="#">
                @todo add
            </a>
        </div>
    </body>
</html>